/*----------------------Head-style-responsive-----------------*/
.head-style-responsive {
    width:100%;
    height: 80px;
    background: #ffffff;
    border-bottom:1px solid #ff9056;
}
.head-style-responsive .menu-second {
    height: 100%;
}
.head-style-responsive .menu-second > div {
    border-right:1px solid #ff9056;
    height:80px;
    padding-top:0.3em;
    padding-bottom:-0.5em;
}
.menu-second .menu-btn {
    padding:0;
    width:100%;
    position:relative;
}
.menu-second .menu-btn button {
    padding:0;
    margin:0;
    outline: none;
    background: none;
    border: none;
    width:100%;
}
.menu-btn button img {
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.menu-second .search {
    padding:0;
}
.menu-second .search form {
    padding:0;
    margin: 0;
    width:100%;
    line-height: 70px;
    text-align: center;
}
.search form img {
    width:80%;
    margin: 0 auto;
}
.menu-second .logo {
    width:100%;
}
.logo a img {
    width:80%;
    display:block;
    margin:0 auto;
}
.menu-second:last-child {
    padding:0;
    margin:0;
    position: relative;
}
.menu-second:last-child p {
    font-family: Roboto-bold ;
    font-size: 14px;
    color: #ff4c30;
    text-align:center;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
/*---------------Menu-Responsive---------------*/
#menu-responsive {
    width:100%;
    margin-top:-5px;
}
#menu-responsive ul{
    list-style-type: none;
    margin:0;
    padding:0;
    width:100%;
}
#menu-responsive ul li {
    display:block;
    width:100%;
    padding:0.75em 0 0.75em 2em;
    background: #ffffff;
    border-bottom: 1px solid #303332;
}
#menu-responsive > ul > li > a {
    font-family: Roboto-bold;
    text-decoration: none;
    font-size: 18px;
    color:#000;
}
#menu-responsive > ul > li:hover > a {
    color:#ff9056;
}
.menu-responsive-sub {
    position: relative;
    display:none;
    top:0.85em;
    left:-2em;
    width:100%;
}
.menu-responsive-sub li{
    text-align:center;
}
.menu-responsive-sub li a {
    color:#ff9056;
    font-family: Roboto-bold;
    text-decoration: none;
    font-size: 18px;
}

.menu-responsive-sub li:first-child {
    border-top: 1px solid #303332;
}
#menu-responsive ul li:hover .menu-responsive-sub {
    display:block;
}
.menu-responsive-sub li:hover a {
    color:#cccccc;
}
/*
*               Responsive
*/
.head-style-responsive {
    display:none;
}
@media screen and (max-width: 768px){
    .head-style-responsive {
        display:none;
    }
    .head-style .header-top li {
        padding:0;
    }
    .head-style .header-top .col-md-6 {
        padding:0;
    }
    .head-style .header-menu li {
        margin:0;
    }
    .head-style .header-menu li a{
        font-size: 14px;
    }
    .header-menu div {
        padding:0;
    }
    .dropmenu .submenu {
        width:9em;
    }
    .sub-menu-1{
        left:-36px;
    }
    .sub-menu-3 {
        left:-255px;
    }
    .sub-menu-4{
        left:-315px;
    }
    .number-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .number-list .number {
        width:120px;
        padding:1em 0.5em 0;
    }
    .box-link-1 .mini-box {
        display:block;
    }
    .mini-box > div {
        width:100%;
    }
}
@media screen and (max-width:600px){
    .head-style {
        display:none;
    }
    .head-style-responsive {
        display: block;
    }
    .number-list {
        display:block;
    }
    .number-list .number {
        width:100%;
        text-align: center;
        padding-bottom: 1em;
    }
    .box-intro-3 img {
        display:block;
        max-width: 100%;
        height:auto;
    }
    .box-link-1 .mini-box {
        display:block;
    }
    .mini-box > div {
        width:100%;
    }
}