/*---------------------Add Fonts---------------------*/
@font-face {
    font-family: Roboto-bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight:bold;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

/*------------------Clear Fix-------------------------*/
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*--------------Model-Box--------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*=====================Main-Page==================*/
/*-------------Header-page-----------------------*/
.hearder-page {
    width:100%;
}
/*-------------Header-top---------------------*/
.hearder-top {
    height:40px;
    background: #2b2b2b;
}
/*_____Menu-1_____*/
.hearder-top .menu-1 {
    line-height:40px;
}
.menu-1 ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
.menu-1 ul li {
    display:inline-block;
    padding-right:0.7em;
}
.menu-1 ul li a {
    text-decoration: none;
    font-family: Roboto-bold;
    font-size:11px;
    color: #ffffff;
    text-align: center;
}
.menu-1 ul li:first-of-type a {
    color:#fd6136;
}
.menu-1 ul li:hover a {
    color:#fd6136;
}
/*_____Search_____*/
.hearder-top #search {
    line-height:40px;
}
#search form[name="search"] {
}
#search form[name="search"] input[type="text"] {
    border-radius: 1.25em;
    border:1px solid #2b2b2b;
    padding-left:0.9em;
}
#search form[name="search"] button[type="submit"] {
    position:relative;
    border:none;
    background: none;
    cursor: pointer;
    right:2.25em;
    top:-0.05em;
}
/*_____Log-in_____*/
.hearder-top .menu-2 {
    text-align: center;
    line-height:40px;
}
.menu-2 ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}
.menu-2 ul li {
    display: inline-block;
    padding-right:0.9em;
}
.menu-2 ul li a {
    text-decoration: none;
    font-family: Roboto-bold;
    font-size:11px;
    color: #ffffff;
}
.menu-2 ul li a i {
    padding-right: 0.3em;
}
.menu-2 ul li a:hover i {
    color:#fd6136;
}
.menu-2 ul li a:hover span {
    color:#fd6136;
}

/*-------------------Header-menu-------------------*/
.header-menu {
    height:65px;
    border-bottom:1px solid #7c7f80;
}
.header-menu #main-menu {
    width:100%;
    height:65px;
}
/*______Logo_______*/
#main-menu .logo {
    line-height: 65px;
}
.logo a {

}
.logo a img {
    height:50px;

}
/*__________Menu-Item_________*/
.menu-item {
    line-height:65px;
    left:0;
}
.menu-item ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
.menu-item ul li {
    display:inline-block;
    margin-left: 2em;
    text-align: center;
}
.menu-item ul li div a {
    font-family: Roboto-bold;
    text-decoration: none;
    color:#000;
    font-size:16px;
}
.menu-item ul li:hover a {
    color:#fd6136;
}

/*
* Submenu for Sản phẩm dịch vụ
*/

.menu-item-1 {
    position:relative;
}
.menu-item-1:hover .dropmenu {
    display:block;
}
.dropmenu {
    width:700px;
    height:auto;
    position:absolute;
    background: yellow;
    left:0;
    padding:0;
    margin:0;
    display: none;
}

.dropmenu .submenu {
    float:left;
    padding:1em;
    margin:1em;
}
.dropmenu ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
.dropmenu ul li {
    display:block;
    padding: 0;
    margin:0;
}
.menu-icon ul > li {
    margin-top:-2em;
}
.menu-icon a {
    text-decoration: none;
}
.menu-icon a span {
    font-family: Roboto-medium;
    color:#000;
    font-size:13px;
    text-align:center;
}
.menu-icon a img {
    display:block;
    margin:0 auto;

}
.menu-icon a img.hover {
    display:none;
}
.menu-icon:hover a img.non-hover {
    display:none;
}
.menu-icon:hover a img.hover {
    display:block;
}
.menu-icon > a > span {
    color:#fd6136;
    font-size: 15px;
}
.menu-icon > a:hover > span {
    color:#cccccc;
}
.menu-icon ul li:hover a span {
    color: #ff9056;
}
