/*---------------------Add Fonts---------------------*/
@font-face {
    font-family: Roboto-bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight:bold;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

/*------------------Clear Fix-------------------------*/
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*--------------Model-Box--------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*=====================Main-Page==================*/
/*-------------Header-page-----------------------*/
.hearder-page {
    width:100%;
    position:fixed;
    z-index: 2;
}
/*-------------Header-top---------------------*/
.hearder-top {
    height:40px;
    background: #2b2b2b;
}
/*_____Menu-1_____*/
.hearder-top .menu-1 {
    line-height:40px;
}
.menu-1 ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
.menu-1 ul li {
    display:inline-block;
    padding-right:0.7em;
}
.menu-1 ul li a {
    text-decoration: none;
    font-family: Roboto-bold;
    font-size:11px;
    color: #ffffff;
    text-align: center;
}
.menu-1 ul li:first-of-type a {
    color:#fd6136;
}
.menu-1 ul li:hover a {
    color:#fd6136;
}
/*_____Search_____*/
.hearder-top #search {
    line-height:40px;
}
#search form[name="search"] {
}
#search form[name="search"] input[type="text"] {
    border-radius: 1.25em;
    border:1px solid #2b2b2b;
    padding-left:0.9em;
}
#search form[name="search"] button[type="submit"] {
    position:relative;
    border:none;
    background: none;
    cursor: pointer;
    right:2.25em;
    top:-0.05em;
}
/*_____Log-in_____*/
.hearder-top .menu-2 {
    text-align: center;
    line-height:40px;
}
.menu-2 ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}
.menu-2 ul li {
    display: inline-block;
    padding-right:0.9em;
}
.menu-2 ul li a {
    text-decoration: none;
    font-family: Roboto-bold;
    font-size:11px;
    color: #ffffff;
}
.menu-2 ul li a i {
    padding-right: 0.3em;
}
.menu-2 ul li a:hover i {
    color:#fd6136;
}
.menu-2 ul li a:hover span {
    color:#fd6136;
}

/*-------------------Header-menu-------------------*/
.header-menu {
    height:65px;
    background: white;
    border-bottom:1px solid #7c7f80;
}
.header-menu #main-menu {
    width:100%;
    height:65px;
}
/*______Logo_______*/
#main-menu .logo {
    line-height: 65px;
}
.logo a {

}
.logo a img {
    height:50px;

}
/*__________Menu-Item_________*/
.menu-item {
    line-height:65px;
    left:0;
}
.menu-item ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
.menu-item ul li {
    display:inline-block;
    margin-left: 2em;
    text-align: center;
}
.menu-item ul li div a {
    font-family: Roboto-bold;
    text-decoration: none;
    color:#000;
    font-size:16px;
}
.menu-item ul li:hover a {
    color:#fd6136;
}

/*
* Submenu for Sản phẩm dịch vụ
*/

.menu-item-1 {
    position:relative;
}
.menu-item-1:hover .dropmenu {
    display:flex;
    flex-direction: row;
}
.sub-menu-1 {
    position:absolute;
    left:-9em;
}

/*
* Submenu for Hỗ trợ
*/
.menu-item-3 {
    position:relative;
}
.menu-item-3:hover .dropmenu {
    display:flex;
    flex-direction: row;
}
.sub-menu-3 {
    position:absolute;
    left:-28.5em;
}
/*
* Submenu for Member FPT
*/
.menu-item-4 {
    position:relative;
}
.menu-item-4:hover .dropmenu {
    display:flex;
    flex-direction: row;
}
.sub-menu-4 {
    position:absolute;
    left:-34.5em;
}

/*Common for Submenu*/
.dropmenu {
    background: #f5f5ee;
    padding:0;
    margin:0;
    display: none;
}
.dropmenu .submenu {
    width:13em;
    padding:1em;
    margin:1em;
}
.dropmenu ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
.dropmenu ul li {
    display:block;
    padding: 0;
    margin:0;
}
.menu-icon ul > li {
    margin-top:-2em;
}
.menu-icon a {
    text-decoration: none;
}
.menu-icon a span {
    font-family: Roboto-medium;
    color:#000;
    font-size:13px;
    text-align:center;
}
.menu-icon a img {
    display:block;
    margin:0 auto;
}
.menu-icon a img.hover {
    display:none;
}
.menu-icon:hover a img.non-hover {
    display:none;
}
.menu-icon:hover a img.hover {
    display:block;
}
.menu-icon > a > span {
    color:#fd6136;
    font-size: 15px;
}
.menu-icon > a:hover > span {
    color:#cccccc;
}
.menu-icon ul li:hover a span {
    color: #ff9056;
}


/*-----------------------------Main-page---------------------*/
.main-page {
    position:absolute;
    top:6.5em;
    z-index:0;
}
/*
*           Silde show
*/
.slideshow {
    width:100%;
    z-index:-1; /* Thêm vào để hiển thị được sub-menu */
}
/* Hide the images by default */
.slideshow .mySlides {
    display: none;
}
.slideshow img {
    width:100%;
    height:100%;
}
/* Next & previous buttons */
.slideshow .prev,.next {
    cursor: pointer;
    position: absolute;
    color:grey;
    opacity: 0.1;
    font-size: 30px;
    line-height: 45px;
    text-align:center;
    transition: 0.6s ease;
    display:block;
    width:50px;
    height:50px;
    border: 1px solid black;
    border-radius: 50%;
    user-select: none;
}
.slideshow .prev {
    top:50%;
    transform: translate(0,-50%);
    left:15px;
}
.slideshow .next {
    top:50%;
    transform: translate(0,-50%);
    right:15px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: grey;
    opacity: 1;
}
/*____________Num-List_________*/
/* The dots/bullets/indicators */
.num-list {
    height: 25px;
    width: 175px;
    position: relative;
    top:-25px;
    left:50%;
    transform: translate(-50%,0);
}

.num-list .dot {
    display: inline-block;
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin-top:5px;
    margin-left:5px;
    padding:5px;
    background-color: #d0d0d0;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.active , .dot:hover {
    background-color: orange !important;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name: fade;
    -moz-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;/*Sau khi chạy hết animation thì sẽ trở lại trạng thái sau cùng */
}
@-moz-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
/*
* ===============Content=================
*/
.content {
    position: absolute;
    top:26em;
    width:100%;
}
/*
* Title
*/
.content .title {
    text-align: center;
    padding:0.5em 0;
}
.title a {
    text-decoration: none;
}
.title a span {
    font-family: Roboto;
    font-size: 16px;
    color:#000;
}
.title i {
    padding-right: 1em;
}
.title i + a span {
    color:#fe5933;
}
/*
* Main-Intro
*/
.content .main-intro {
    background: #ebebeb;
    padding:1em 0;
}
.main-intro .intro {
    display:flex;
    flex-direction: row;
}
.intro .intro-item {
    width:20%;
}
.intro .intro-item a {
    text-decoration: none;
}
.intro .intro-item a img {
    display:block;
    padding:0.6em;
    border:1px solid white;
    border-radius: 50%;
    margin:1em auto;
    background: #a3a3a3;
}
.intro .intro-item a p {
    text-align: center;
    text-transform: uppercase;
    color:#a3a3a3;
    font-family: Roboto-bold;
    font-size: 18px;
}
.intro .intro-item:first-of-type a img {
    background:#f47a31 ;
}
.intro .intro-item:first-of-type a p {
    color:#f47a31 ;
}
.intro .intro-item:hover a img {
    background:#f47a31 ;
}
.intro .intro-item:hover a p {
    color:#f47a31 ;
}
/*
* Box-Intro-1
*/
.box-intro-1 {
    background: white;
    margin-top:2em;
}
/*______Image________*/
.box-intro-1 .img-intro {

}
.img-intro img {
    display: block;
    width:100%;
}
.img-intro p {
    margin-top: 1em;
    font-size:40px;
    font-family:Roboto-bold;
    color: #333;
    text-align: center;
}

/*_______Content_________*/
.content-intro {

}
.content-intro > p {
    margin:0 0 1em;
    font-size: 16px;
    font-family: Roboto;
    text-align: justify;
    color:#333;
}
.content-intro > p > strong {
    font-family: Roboto-bold;
    font-weight: 700;
    text-align: justify;
    font-size: 16px;
    color:#333;
}
.content-intro .number-list {
    display: flex;
    flex-direction: row;
}
.number-list .number {
    width:20%;
    padding:0 1em;
}
.number p {
    text-align: center;
    font-family: Roboto-bold;
    font-size: 16px;
}
.number p span {
    font-size:50px;
    color:#e76425;
    font-family:Roboto-bold;
}
/*
* Box-intro-2
*/
.box-intro-2 {
    background:#ebebeb;
    padding:0 2em;
}
.box-intro-2 iframe {
    margin-top:40px;
    width:100%;
    height:26em;
}
.box-intro-2 img {
    display:block;
    margin:0 auto;
}
.box-intro-2 p {
    text-align: center;
    font-family: Roboto-bold;
    font-size: 40px;
    color:#333;
}
/*
* Box-intro-3
*/
.box-intro-3 {
    background: white;
    padding:2em 0;
}
.box-intro-3 img {
    width:100%;
}
/*
* Box-intro-4
*/
.box-intro-4 {
    background: white;
}
/*____Title-item_____*/
.box-intro-4 .title-item {
    display: table-cell;
    border-bottom:2px solid #ff6634;
    padding:0.2em;
}
.title-item img {

}
.title-item span {
    vertical-align: bottom;
    text-transform: uppercase;
    color:#ff6634;
    font-family: Roboto-bold;
    font-size: 25px;
    line-height:25px;
    padding:0 0.5em ;
}
/*_______List-Style-Orange_______*/
.list-style-orange {
    padding:0;
    margin:1em 1em;
    /*list-style-image: url("images/intro/dot-orange.png");*/
}
.list-style-orange li {
    font-size: 16px;
    font-family: Roboto;
    padding-bottom:0.5em;
}
.img-support {
    display:block;
    margin:0 auto;
}